# 4.6 Combining & Exploring Data

## Content List
> * Import Libraries
> * Import Data
> * Explore Data

## Import Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#folder path
path = r'C:\Users\kaydo\OneDrive\Desktop\Python\Data\Prepared Data'

# Import Data

In [5]:
df_ords_prior = pd.read_csv(r'C:\Users\kaydo\OneDrive\Desktop\Python\Data\Prepared Data\order_products_prior.csv')

In [6]:
df_ords= pd.read_csv(r'C:\Users\kaydo\OneDrive\Desktop\Python\Data\Prepared Data\orders_checked.csv')

# Explore Data

In [7]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords.head()

,order_id,user_id,eval_set,order_number,Order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
#check the shape
df_ords_prior.shape

(32434489, 4)

In [10]:
#check the shape
df_ords.shape

(3421083, 7)

In [11]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,Order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [13]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
df_merged_large.to_pickle(os.path.join(path, 'orders_products_combined.pkl'))