# 4.6 Part Two

### Content List
> * Import Libraries and Data
> * Explore Data
> * Merge order and products csv

## Import Libraries and Data

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#folder path
path = r'C:\Users\kaydo\OneDrive\Desktop\Python\Data\Prepared Data'

In [5]:
# import orders_products_combined.pkl
df_ords_prods_combo = pd.read_pickle(r'C:\Users\kaydo\OneDrive\Desktop\Python\Data\Prepared Data\orders_products_combined.pkl')

In [6]:
# import products_checked.csv
df_prods = pd.read_csv(os.path.join(path, 'products_checked.csv'), index_col = False)

## Explore Data

In [9]:
#Check size
df_ords_prods_combo.shape

(32434489, 11)

In [10]:
#Check output for df_ords_prods_combo
df_ords_prods_combo.head()

,order_id,user_id,eval_set,order_number,Order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [11]:
#Check df_prods size
df_prods.shape

(49672, 6)

In [12]:
#check output for df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

When looking at the head of our products csv there is an unnamed column that we need to drop in order to continue analysis.

In [15]:
# drop unnamed column from df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [16]:
#check the column dropped successfully
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

'Product_id' is found in both dataframes. This will be our key.

## Merge orders and products csv

In [17]:
# Drop merge column on df_ords_prods_combo
df_ords_prods_combo = df_ords_prods_combo.drop(columns = ['_merge'])

In [19]:
#Merge df_ords_prods_combo withdf_prods
df_merged = df_ords_prods_combo.merge(df_prods, on= 'product_id', indicator = True)

In [20]:
#check outpout for df_merged
df_merged.head()

,order_id,user_id,eval_set,order_number,Order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [21]:
#check value counts on merge
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
#check df_merged size
df_merged.shape

(32404859, 15)

In [24]:
#export df_merged as order_products_merged
df_merged.to_pickle(os.path.join(path, 'orders_products_merged.pkl'))